@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 30;
  margin: 20;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* styles.css */
/* .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 뷰포트 높이의 100% 
} */

.logo {
  position: absolute;
  top: 22px;
  left: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 50px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #464646;
}
.form-container {
  /* display: flex;*/
  justify-content: center;
  align-items: center;
  width: 440px;
  padding: 40px 32px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1 {
  font-size: 1.6rem;
}

.container .social-login {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.container .social-login button {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: #323760;
  border: 1px solid #6667b0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .social-login button i {
  font-size: 26px;
}

.container .social-login button:hover {
  color: #05d686;
  border-color: #6b43ff;
}

.Kakao:hover,
.Kakao:hover .bx {
  color: yellow; /* 버튼 배경색 변경 */
}
.Kakao form {
  color: yellow;
}
.apple:hover,
.apple:hover .bx {
  color: green; /* 버튼 배경색 변경 */
}

.container .divider {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container .divider .line {
  height: 1px;
  width: 100%;
  background: #1d1d1d;
  opacity: 0.2;
  margin: 30px 0 16px;
}

.container from label {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  display: block;
  margin-top: 12px;
}

.container from .custome-input {
  position: relative;
}

.container from label {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03rem;
}

.container from .custome-input {
  position: relative;
}

.container form .custome-input input {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 46px;
  letter-spacing: 0.03rem;
  border: 1px solid #1d1d1d;
  background: transparent;
  outline: none;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 6px;
  transition: all 0.3s ease;
}

.container form .custome-input input:focus {
  border-color: #5222fd;
}

.container form .custome-input i {
  position: absolute;
  font-size: 28px;
  right: 10px;
  top: 14px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.container form .custome-input input:focus + i {
  color: #5222fd;
}

.container form .login {
  width: 100%;
  margin-top: 30px;
  background: #6b43ff;
  color: #fff;
  border: none;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 0.025em;
  cursor: pointer;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.container form .login:hover {
  background: #5222fd;
}

.container .links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container .links a {
  color: #3d44da;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-underline-offset: 6px;
  text-decoration-color: #6b43ff;
}

.container .links a:hover {
  text-decoration: underline;
}
